TX_SOURCE_LANG="en-US"
TX_LANG_MAP="lang_map = en_US: en-US, ru_RU: ru-RU"
TX_CONFIG=".tx/config"
PACKAGE_NAME="$1"
DISTRO_DIR="_$PACKAGE_NAME"
SOURCE_FILES="$PACKAGE_NAME/source.files"
PACKAGE_CONFIG="$PACKAGE_NAME/package.config"
EXTENSION_ASSEMBLY="Namespace.Assembly" # only for extension packages
